.bläkki {
    background-color: black;
}

.content {
    max-width: 1060px;
    margin: auto;
}

@media screen and (max-width: 320px) {
    .content {
        float: none;
        width: 100%;
    }
}

/* header alku */
.header {
    min-height: 500px;
    background-image: url(pic5.jpg);
    background-position-x: 0px;
    background-position-y: -220px;
    background-size: 100%;
}

@media only screen and (max-width: 320px) {
    .header {
        min-height: 300px;
        background-size: 300%;
        background-position-x: -310px;
        background-position-y: 1150px;
    }
}

.logo_container {
    width: 390px;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 3%;
    padding-top: 15%;
}

@media only screen and (max-width: 320px) {
    .logo_container {
        width: 90%;
        grid-template-columns: 50% 50%;
        padding-top: 100px;
    }
}

.logored {
    background-color: red;
    width: 150px;
    height: 90px;
    line-height: 0;
    margin: auto;
    display: grid;
}

@media only screen and (max-width: 320px) {
    .logored {
        height: 60%;
        width: 90%;
        margin-left: 30px;
    }
}

.logoblack {
    width: 200px;
    height: 90px;
    line-height: 0;
    margin: auto;
    display: grid;
}

@media only screen and (max-width: 320px) {
    .logoblack {
        max-width: 100px;
        display: inline;
        padding-top: 45px;
        margin-right: 10px;
    }
}


.textblack {
    text-align: center;
    margin: auto;
    font-size: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-right: 100px;
}

@media only screen and (max-width: 320px) {
    .textblack {
        font-size: 25px;

    }
}

.textred {
    text-align: center;
    margin: auto;
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 320px) {
    .textred {
        font-size: 25px;

    }
}

.logotext {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 48%;
    font-size: 16px;
}

@media only screen and (max-width: 320px) {
    .logotext {
        display: block;
        padding-left: 140px;
        font-size: 12px;
        line-height: 0;

    }
}


/* header loppu */



/*navigointipalkki alku*/
.navbar {
    overflow: hidden;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    width: 20%;
    text-decoration: none;
    border-right: 2px solid #bbb;
}

.navbar .contactlink {
    color: white;
    background-color: red;
    border-right: none;
}

@media screen and (max-width: 320px) {
    .navbar a {
        float: none;
        width: 100%;
        border-top: 2px solid #bbb;
        border-right: none;
    }
}

/*navigointipalkki loppu*/




* {
    box-sizing: border-box;
}




/* eka alku */
.eka {
    min-height: 1000px;
    background-color: black;
    position: relative;
}

@media screen and (max-width: 320px) {
    .eka {
        min-height: 980px;
    }
}


.column1 {

    top: 150px;
    position: absolute;
    right: 510px;
}

@media screen and (max-width: 320px) {
    .column1 {
        /* position: relative; */
        top: 150px;
        max-width: 300px;
        left: 30px;
    }
}

.logo {
    opacity: 30%;
    filter: invert(100%);
    width: 800px;
}

@media screen and (max-width: 320px) {
    .logo {
        margin-left: -520px;
    }
}

.column2 {
    float: right;
    width: 330px;
    height: 300px;
    padding-top: 60px;
    color: white;
    position: absolute;
    font-size: 13px;
    left: 600px;
    top: 290px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 320px) {
    .column2 {
        width: 90%;
        max-width: 320px;
        left: 20px;
        top: 280px;
        font-size: 18px;
    }
}

ul {
    padding-left: 15px;
}

.firsthead {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 515px;
    top: 70px;
}

@media screen and (max-width: 320px) {
    .firsthead {
        left: 45px;
        top: 110px;
    }
}

.secondhead {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 290px;
    top: 200px;
}

@media screen and (max-width: 320px) {
    .secondhead {
        left: -225px;
        top: 195px;
    }
}

.design {
    color: white;
    font-size: 120px;
    font-weight: bold;
    line-height: 0;
}

@media screen and (max-width: 320px) {
    .design {
        font-size: 80px;
    }
}

.thinking {
    color: red;
    font-size: 75px;
    font-weight: bold;
    line-height: 0;
    padding-left: 300px;
}

@media screen and (max-width: 320px) {
    .thinking {
        font-size: 55px;
    }
}



.dontlookhere {
    width: 300px;
    height: 1100px;
    background-color: black;
    position: absolute;
    right: 1060px;
}

@media screen and (max-width: 320px) {
    .dontlookhere {
        display: none;
    }
}



/* eka loppu */




/* about us alku */
.about {
    display: grid;
    grid-auto-flow: row;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 1%;
}

@media only screen and (max-width: 320px) {
    .about {
        display: inline;

    }
}

.photos_container {
    width: 390px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    padding-bottom: 13%;
    padding-top: 3%;
    font-size: 18px
}

@media only screen and (max-width: 320px) {
    .photos_container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        width: 280px;

    }
}


.name {
    position: relative;
    top: 50%;
    line-height: 0px;
}

@media only screen and (max-width: 320px) {
    .name {}
}

.photo_container {
    line-height: 0;
    width: 195px;
    height: 195px;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {
    .photo_container {
        width: 130px;
        height: 130px;
    }
}

.photo_container:nth-child(1) {
    background-color: rgb(197, 84, 47);
}

.photo_container:nth-child(2) {
    background-color: rgb(202, 7, 176);
}

.photo_container:nth-child(3) {
    background-color: rgb(29, 52, 182);
}

.photo_container:nth-child(4) {
    background-color: rgb(125, 41, 151);
}

.photo {
    height: 195px;
    width: 195px;
    object-fit: cover;
    opacity: 30%;
}

@media only screen and (max-width: 320px) {
    .photo {
        height: 130px;
        width: 130px;
    }
}

.photo_container:hover>.photo {
    opacity: 100%;
}

.photo_container:hover>.name {
    visibility: hidden;
}



/* about us loppu */




/* Design thinking alku */
.toka {

    display: grid;
    grid-auto-flow: row;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 10%;
}

.box_container {
    width: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 3%;
    font-size: 18px
}

@media only screen and (max-width: 320px) {
    .box_container {
        width: 92%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

.teksti {
    position: relative;
    top: 35%;
    line-height: 20px;
}

.teksti2 {
    position: relative;
    top: 50%;
    padding-right: 55%;
}

.box {
    line-height: 0;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.box:nth-child(1) {
    background-color: rgb(197, 84, 47);
}

.box:nth-child(2) {
    background-color: rgb(202, 7, 176);
}

.box:nth-child(3) {
    background-color: rgb(29, 52, 182);
}

.box:nth-child(4) {
    background-color: rgb(125, 41, 151);
}

.box2 {
    background-color: red;
    font-size: 18px;
    width: 300px;
    height: 65px;
    line-height: 0;
    cursor: pointer;
    margin: auto;
    display: grid;
}

@media only screen and (max-width: 320px) {
    .box2 {
        width: 92%;
        display: inline;
        margin-top: -20px;
    }
}



/* Design thinking loppu */




/* nutshell alku */
.nutshell {
    background-image: url(pic7.jpg);
    background-position: center;
    background-size: cover;
    min-height: 850px;
    background-color: white;
}

@media only screen and (max-width: 320px) {
    .nutshell {
        background-position: center;
        background-position-x: 550px;
        background-position-y: 0px;
        min-height: 750px;

    }
}

.headingnut {
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 80px;
}

@media only screen and (max-width: 320px) {
    .headingnut {
        text-align: center;
        padding-top: 50px;
    }
}

.columnnut {
    width: 540px;
    height: 260px;
    padding-left: 220px;
    padding-top: 100px;
}

@media only screen and (max-width: 320px) {
    .columnnut {
        text-align: left;
        padding-left: 10px;
        max-width: 250px;
    }
}

.textnut {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right1 {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.points {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

em {
    font-weight: bold;
    font-style: normal;
}

/* nutshell loppu  */




/* iframe alku */
.iframe {
    background-color: black;
    min-height: 625px;
    padding-left: 5%;
}

@media only screen and (max-width: 320px) {
    .iframe {
        min-height: 170px;

    }
}

.iframe_container {
    position: relative;
    width: 95%;
    padding-bottom: 56.25%;
    height: 0;
}

@media only screen and (max-width: 320px) {
    .iframe_container {
        width: 304px;
        margin-left: -15px;

    }
}

.iframe_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* iframe loppu */




/*kontaktitiedot alku*/
.contact {
    background-color: red;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    font-size: large;
    min-height: 650px;
}

.font {
    text-align: center;
    font-size: large;
}

input[type=submit] {
    padding: 12px 20px;
}

input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid white;
    background-color: red;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: white;
}


.font {
    font-size: 45px;
}

.contactform {
    width: 33%;
    margin: auto;
    min-width: 400px;
}

@media screen and (max-width: 320px) {
    .input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

}

@media screen and (max-width: 320px) {
    .contactform {
        min-width: 250px;
        margin: auto;
        width: 90%;
    }
}

.button {
    border-radius: 50%;
    background-color: red;
    border-color: white;
    height: 60px;
    width: 60px;
    color: white;
    position: relative;
    float: right;
}

input#pick1 {
    width: 15px;
}

/*kontaktitiedot loppu*/




/* footer alku */
.footer {
    min-height: 950px;
    position: relative;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer {
        min-height: 530px;
    }
}


.background {
    background-image: url(pic6.jpg);
    opacity: 30%;
    background-size: 185%;
    background-position: center;
    width: 1060px;
    height: 950px;
    position: absolute;
    left: 0;
    top: 0;

}

@media screen and (max-width: 320px) {
    .background {
        width: 100%;
        background-size: cover;
        background-position-y: -200px;
        height: 530px;

    }
}

.contacthead {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    position: relative;
    top: 230px;
    line-height: 0;
}

@media screen and (max-width: 320px) {
    .contacthead {
        font-size: 40px;
        top: 50px;
    }
}

.info_container {
    background-color: white;
    width: 550px;
    height: 150px;
    margin: auto;
    position: relative;
    margin-top: 400px;
    display: grid;
    grid-template-columns: 55% auto;
}

@media screen and (max-width: 320px) {
    .info_container {
        width: 300px;
        grid-template-columns: none;
        margin-top: 150px;
        height: 300px;
        opacity: 70%;


    }
}

.infotext {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 9px;
}

@media screen and (max-width: 320px) {
    .infotext {
        width: 50%;
        margin-left: 50px;
        margin-top: 20px;
        padding-top: 20px;
    }
}

.infologo {
    margin: auto;
    margin-top: 0px;
}

@media screen and (max-width: 320px) {
    .infologo {
        width: 100%;
        left: 200px;
        margin-left: -40px;
    }
}


.logo_container_info {
    width: 275px;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-left: 20px;
    margin-top: 25px;
}

@media screen and (max-width: 320px) {
    .logo_container_info {
        width: 200px;
        margin-top: -70px;
        margin-left: 80px;

    }
}

.logored_info {
    background-color: red;
    width: 110px;
    height: 50px;
    line-height: 0;
    margin: auto;
    display: grid;
}

.logoblack_info {
    width: 200px;
    height: 90px;
    line-height: 0;
    margin: auto;
    display: grid;
}

@media screen and (max-width: 320px) {
    .logoblack_info {
        width: 50px;
        display: inline;
        margin-top: 90px;
    }
}


.textblack_info {
    text-align: center;
    margin: auto;
    font-size: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding-right: 180px;
}

@media screen and (max-width: 320px) {
    .textblack_info {
        width: 100px;
        display: inline;
        margin-top: 90px;
        padding-right: 0;
    }
}

.textred_info {
    text-align: center;
    margin: auto;
    font-size: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.logotext_info {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 125px;
    font-size: 10px;
    margin-top: -25px;
}

@media screen and (max-width: 320px) {
    .logotext_info {
        padding-left: 0px;
        width: 40%;
        margin-top: -65px;
        margin-left: 170px;
    }
}

.source {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 560px;
    padding-top: 10px;
    font-size: 12px;
}

@media screen and (max-width: 320px) {
    .source {
        padding-left: 0px;
        width: 60%;
        text-align: right;
        margin-left: 110px;

    }
}




/* footer loppu  */